%ul
  %li(data-foreach-project="projects" data-bind-class="project.status")
    %h1
    %h2(data-bind="project.name")
    %h3(data-bind="project.errors")
    %h4(data-showif="project.errors | equals 1") unresolved error
    %h4(data-hideif="project.errors | equals 1") unresolved errors
    %span(data-bind="project.date | prepend 'last error: '")
    %p(class="updated-at" data-bind="updatedAtMessage")
